/* PC GRANDE */
@media screen and (max-width: 3000px) and (min-width: 1000px) {
    .titulo h2 {
        font-size: 40px;
    }
    .titulo a {
        font-size: 13px;
    }
    .contentApi {
        margin-top: 1%;
        margin-bottom: 4%;
    }
    .contentApi div {
        font-size: 22px;
    }
}

/*MOBILE*/
@media screen and (max-width: 450px) {
    .content {
        grid-template-columns: 1fr;
        margin-top: 55%;
        width: 90%;
        padding: 5%;
    }

    .contentApi {
        grid-template-columns: 1fr;
        width: 80%;
        margin: 20% 10% 20% 10%;
    }
    .contentApi div {
        margin-top: 5%;
        font-size: 18px;
    }
}